.canvas{
    display: flex;
    flex-direction: column;
    align-items: right;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}
.canvas-board{
    border: 5px #26282E solid;
    width: 70%;
    height: 90vh;
    margin-right: 1em; 
    position: relative;
    overflow: hidden;
}
.controll-pannel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    margin: 0.1em;
    border-radius: 0.1em;
    padding: 0.5em 1em;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
}

.red-box-container{
    color:26282E;
    position: absolute;
}

.button:action{
    background-color: #4CAF50;
}

.red-box{
    background: #EB4769;
    height:10px;
    width:10px;
    position: relative;
}